{% extends 'base.html' %}

{% block content %}
  <h1>About Supplier Management System</h1>
  <p>
    Supplier Management System is a web application that allows you to manage your suppliers and their contact information.
    With this application, you can add, edit, and delete suppliers, and view a list of all your suppliers.
  </p>
  <p>
    This application was created by [Your Name] as a project to learn web development using Python and Flask. It uses SQLite as its database management system and Bootstrap for its user interface design.
  </p>
{% endblock %}
