{% extends 'base.html' %}

{% block content %}

  <h2>Add New Supplier</h2>

  <form method="POST" action="{{ url_for('add') }}">
    <div class="form-group row">
      <label for="supplier_name" class="col-sm-3 col-form-label">Supplier Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="supplier_name" id="supplier_name">
      </div>
    </div>
    <div class="form-group row">
      <label for="contact_person" class="col-sm-3 col-form-label">Contact Person</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="contact_person" id="contact_person">
      </div>
    </div>
    <div class="form-group row">
      <label for="telephone_1" class="col-sm-3 col-form-label">Telephone 1</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="telephone_1" id="telephone_1">
      </div>
    </div>
    <div class="form-group row">
      <label for="telephone_2" class="col-sm-3 col-form-label">Telephone 2</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="telephone_2" id="telephone_2">
      </div>
    </div>
    <div class="form-group row">
      <label for="telephone_3" class="col-sm-3 col-form-label">Telephone 3</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="telephone_3" id="telephone_3">
      </div>
    </div>
    <div class="form-group row">
      <label for="mobile_1" class="col-sm-3 col-form-label">Mobile 1</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="mobile_1" id="mobile_1">
      </div>
    </div>
    <div class="form-group row">
      <label for="mobile_2" class="col-sm-3 col-form-label">Mobile 2</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="mobile_2" id="mobile_2">
      </div>
    </div>
    <div class="form-group row">
      <label for="fax" class="col-sm-3 col-form-label">Fax</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="fax" id="fax">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" name="email" id="email">
      </div>
    </div>
    <div class="form-group row">
      <label for="website" class="col-sm-3 col-form-label">Website</label>
      <div class="col-sm-9">
        <input type="text
        class="form-control" name="website" id="website" placeholder="Enter website">
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-3 col-form-label">Address</label>
      <div class="col-sm-9">
        <textarea class="form-control" name="address" id="address" placeholder="Enter address"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="term" class="col-sm-3 col-form-label">Term</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="term" id="term" placeholder="Enter term">
      </div>
    </div>
    <div class="form-group row">
      <label for="term" class="col-sm-3 col-form-label">Nature</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="nature" id="nature" placeholder="Enter nature">
      </div>
    </div>
    <div class="form-group row">
      <label for="notes" class="col-sm-3 col-form-label">Notes</label>
      <div class="col-sm-9">
        <textarea class="form-control" name="notes" id="notes" placeholder="Enter notes"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
{% endblock %}
