{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Supplier Details</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">Contact Information</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Supplier Name: {{ supplier[1] }}</p>
                        <p class="card-text">Contact Person: {{ supplier[2] }}</p>
                        <p class="card-text">Telephone 1: {{ supplier[3] }}</p>
                        <p class="card-text">Telephone 2: {{ supplier[4] }}</p>
                        <p class="card-text">Telephone 3: {{ supplier[5] }}</p>
                        <p class="card-text">Mobile 1: {{ supplier[6] }}</p>
                        <p class="card-text">Mobile 2: {{ supplier[7] }}</p>
                        <p class="card-text">Fax: {{ supplier[8] }}</p>
                        <p class="card-text">Email: {{ supplier[9] }}</p>
                        {% if supplier[10] %}
                            <p class="card-text">Website: <a href="{{ 'http://' + supplier[10] }}" target="_blank">{{ supplier[10] }}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">Additional Information</h5>
                    </div>
                    <div class="card-body">
                        {% if supplier[11] %}
                            <p class="card-text">Address: <a href="{{ 'https://www.google.com/maps/place/' + supplier[11].replace(' ', '+') }}" target="_blank">{{ supplier[11] }}</a></p>
                        {% endif %}
                        <p class="card-text">Term: {{ supplier[12] }}</p>
                        <p class="card-text">Notes: {{ supplier[13] }}</p>
                    </div>
                </div>
            </div>
        </div>

        <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Supplier List</a>
    </div>
{% endblock %}
